@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

main {
    background: linear-gradient(to bottom, #fab9c6 4%, #fccad4 30%, #fcd9e0 45%, white 60%);
}

nav {
    background-color: #fab9c6;
    opacity: 90%;
}

.btn-custom {
    background-color: transparent;
    color: #B9476A;
    border: 2px solid #B9476A;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
}

.btn-custom:hover {
    color: #B9476A;
    border-color: #B9476A;
    transform: scale(1.05);
}

#resumo {
    padding-top: 200px;
    padding-bottom: 210px;
}

button a {
    cursor: pointer;
    text-decoration: none;
    color: #B9476A;
}

svg {
    color: #b9476a;
}

#card {
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
}

section {
    padding: 112px 0 0 0;
}

.custom-hr {
    background-color: #B9476A;
    height: 3px;
    width: auto;
    border: none;
    opacity: 100%;
}