@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

main {
    background: linear-gradient(to bottom, #fcd9e0 45%, white 60%);
}

nav {
    background-color: #fcd9e0;
}

.btn-custom {
    background-color: transparent;
    color: #d45178;
    border: 2px dashed #d45178;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.btn-custom:hover {
    color: black;
    border: 2px dashed black;
}

.btn-custom:hover > #custom-btn-icon {
    color: black;
}

#resumo {
    padding-top: 200px;
    padding-bottom: 210px;
}

svg {
    color: #d45178;
}

#card {
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

section {
    padding: 112px 0 0 0;
}

.custom-hr {
    background-color: #d45178;
    height: 3px;
    width: auto;
    border: none;
    opacity: 100%;
}

#link-contatos {
    text-decoration: none;
    cursor: pointer;
}

#link-contatos:hover svg {
    color: black;
}

.nav-underline .nav-link {
    color: #d45178;
}